body {
    text-align: center;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

canvas {
    background-color: black;
    border: 2px solid black;
}

#score {
    font-size: 20px;
    font-weight: bold;
}
